div {
                  font-family: algerian;
                  font-size: 28px;
                  font-weight: bold;
                  color:red;
                  text-align:center;
              }
div2 {
                  font-family: algerian;
                  font-size: 30px;
                  font-weight: bold;
                  color:#fc9d03;
              }
